# ===========================
# Visual Studio
# ===========================

.vs/
Debug/
Release/
x64/
x86/

# ===========================
# Build Directories
# ===========================

build/
Build/

# ===========================
# Visual Studio Files
# ===========================

*.obj
*.exe
*.ilk
*.pdb
*.idb
*.lib
*.exp

# ===========================
# User Files
# ===========================

*.user
*.suo
*.VC.db
*.VC.opendb

# ===========================
# Logs
# ===========================

*.log